**/m4
**/Makefile.in
**/aclocal.m4
**/autom4te.cache
**/compile
**/config.*
**/configure
**/configure.scan
**/depcomp
**/install-sh
**/libtool
**/ltmain.sh
*~
*.o
*.so
**/.deps/
**/.libs/
**/.dirstamps
**/.dirstamp
/missing
*.l[ao]
mkinstalldirs
releases
stamp-h
stamp-h1
stamp-h.in
*.exe
build
.cproject
.project
.settings
ar-lib
.emacs.desktop
.emacs.desktop.lock
Project.ede
**/.#*
**/#*
/*.map
/*.pc
/*.sym
/*.h
**/Doxyfile
**/html
**/bin/**
**/INSTALL
.h.in
/include/msl.h
**/msldaemon
**/mslsetup
**/*.save
**/x11pid
**/termlogtest
**/x11test
**/mslhome-*.tar.lzo
doc/**
test/info-interface
test/list-interfaces
test/listtest
test/testscan
test/testchangefreq
test/testmeshid
test/getip
